<div class="w-full h-[8.39vh] bg-mainBackgroundColor flex flex-row justify-between">
  <section class=" h-full ml-[5.20vw] flex flex-row items-center"  >
    <img src="assets/logo_prev_ui.png" class="w-[162px] h-[60px]">
  </section>

  <section class=" w-[66.27vw] h-full ">
    <ul class="menubox">
      <li class="hover:text-white hover:underline"><a routerLink="/">Home</a></li>
      <li class="hover:text-white hover:underline" ><a routerLink="/man">Men’s</a></li>
      <li class="hover:text-white hover:underline" >Women’s</li>
      <li class="hover:text-white hover:underline" >Kid’s</li>
      <li class="hover:text-white hover:underline" >About Us</li>
      <li class="hover:text-white hover:underline" >Contact Us</li>
    </ul>
  </section>

</div>
