<div class="w-full h-[12.288vh] bg-mainBackgroundColor flex flex-row justify-between">
  <section class=" h-full ml-[5.20vw] flex flex-row items-center">
    <img src="assets/logo_prev_ui.png" class="w-[162px] h-[60px]">
  </section>

  <section class=" w-[66.27vw] h-full ">
    <ul class="menubox" *ngIf="menuItems.length > 0">
      @for (item of menuItems; track $index) {
        <li appLineEffect><a [routerLink]="item.url">{{ item.label }}</a><span class="underlineHover"></span></li>
      }
    </ul>
  </section>

</div>
