<div class="mainContainer h-auto lg:flex lg:flex-row flex-col-reverse pb-1.5">
  <section class="flex flex-row bg-black bg-opacity-50 lg:w-[50%] w-[100%]  justify-center">
    <img [src]="imageadd1" style="margin-left:5.20vw" class="image-explor lg:w-[17.18vw] lg:h-[45.1vh] h-[25.1vh] w-[34.18vw]">
    <img [src]="imageadd2" style="margin-left:1.04vw" class="image-explor lg:w-[17.18vw] lg:h-[45.1vh] h-[25.1vh] w-[34.18vw]" >


  </section>
  <section  class=" flex flex-col items-center bg-black bg-opacity-50 lg:w-[50%] w-[100%] ">
    <h2 class="lg:mt-[4.72vh] mt-[2.72vh] text-[36px] font-bold text-white ">{{ Title }}</h2>
    <p class="mx-[4.94vw] mt-[2.09vh] text-white lg:text-[0.73vw] text-[9px] text-justify"> It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
      PageMaker including versions of Lorem IpsuLorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
      took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially unchanged.
      <br>
      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
      recently with desktop publishing software like Aldus PageMaker including versions of Lorem IpsuLorem Ipsum is
      simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged.
    </p>
    <app-boten (clicked)="alert('asdasd')" Title="Discover More"></app-boten>
  </section>
</div>

