<div class="h-auto w-full bg-footerBackgroundColor flex flex-col">
  <section class="flex-row flex lg:gap-[11.80vw]  gap-3.5">
    <ul class="ml-[7.32vw] mt-[4.60vh] text-white text-[2.15vw] lg:text-[0.83vw] flex flex-col gap-3.5">
      <i><img src="assets/image/logoWight.png"/></i>
      <i><span class="font-semibold ">address:</span>Tehran</i>
      <i><span class="font-semibold ">E-mail:</span> Examplegmail.com</i>
      <i><span class="font-semibold ">Phone:</span> 092 356 3656210</i>
    </ul>
    <ul class=" mt-[4.60vh] text-white text-[2.15vw] lg:text-[0.83vw] flex flex-col gap-3.5">
      <i><span class="font-semibold ">Shopping and Categories:</span></i>
      <i>Men’s Shopping</i>
      <i>Women’s Shopping</i>
      <i>Kid’s Shopping</i>
    </ul>
    <ul class=" mt-[4.60vh] text-white text-[2.15vw] lg:text-[0.83vw] flex flex-col gap-3.5">
      <i><span class="font-semibold ">Useful Links:</span></i>
      <i>Homepage</i>
      <i>About Us</i>
      <i>Help</i>
      <i>Contact Us</i>
    </ul>
    <ul class=" mt-[4.60vh] text-white text-[2.15vw] lg:text-[0.83vw] flex flex-col gap-3.5">
      <i><span class="font-semibold ">Help & Information:</span></i>
      <i>FAQ’S</i>
      <i>Shipping</i>
      <i>Tracking Id</i>
    </ul>

  </section>
  <section>

  </section>
</div>
