<div class="h-auto w-full bg-mainBackgroundColor flex flex-col ">
  <h2 class="text-[36px] mt-[9.44vh] ml-[5.20vw] font-bold">Social Media</h2>
  <p class="text-[14px] mt-[2.09vh] ml-[5.20vw]">Lorem Ipsum is simply dummy text of the printingand typesetting industry.</p>
  <section  class="flex flex-col items-center gap-2.5  lg:flex lg:flex-wrap lg:flex-row  lg:w-[90%]  lg:justify-around lg:ml-[5vw] lg:mt-[2.09vh] lg:gap-[1.3vw] ">
    <img src="assets/image/soci.png" class="social-image">
    <img src="assets/image/soci4.png" class="social-image">
    <img src="assets/image/soci2.png" class="social-image">
    <img src="assets/image/soci3.png" class="social-image">
    <img src="assets/image/soci.png" class="social-image">

    <img src="assets/image/images.png" class="social-image">


  </section>
</div>
